* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --sidebar-width: 250px;
}

#header {
    background-color: rgb(24, 25, 29);
    color:  rgb(221, 251, 211);
    display: flex;
    box-shadow: 2px 0px 4px 4px rgba(24, 24, 24, 0.541);
    align-items: center;
    position: sticky;
    top: 0px;

    z-index: 1;
    margin-left: 0px;
}

#header .button {
    font-size: 24px;
    color:rgb(24, 25, 29);
    width: 32px;
    height: 32px;
    padding-left: 10px;
    margin: 12px;

    background-color: white;
}

#header .button:hover {
    background-color: rgb(159, 236, 135);
}

#header h1 {
    margin-left: 10px;
    text-shadow: 0px 0px 10px rgb(77, 77, 77);
}

#navbar {
    display: block;
    background-color: beige;
    position: fixed;
    padding: 20px;
    left: 0;
    top: 56px;
    overflow-x: hidden;
    width: var(--sidebar-width);
    box-shadow: 2px 0px 4px 4px rgba(24, 24, 24, 0.397);
    height: 100vh;
}

#navbar ul {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    height: 32px;
    color: rgb(44, 44, 44);
}

#navbar ul li:hover {
    background-color: rgb(153, 153, 153);
}


header {
    font-size: larger;
    font-weight: bold;
}

#main-doc {
    margin-left: 250px;
    padding: 32px;
}

.main-section {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 32px;
}
.main-section header {
    margin-left: -16px;
}

@media (max-width: 650px) {
    /* hide sidebar */
    * {
        --sidebar-width: 0px;
    }
    #navbar {
        display: none;
    }
    #main-doc {
        margin-left: 0;
    }
}
